@tailwind base;
@tailwind components;
@tailwind utilities;

/* 确保 html 和 body 占满屏幕，这对于全屏应用至关重要 */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden; /* 防止浏览器默认滚动条 */
}